<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <button onclick="location.href='/'" <%- title === 'Welcome to Mongoose Airport' ? 'class="active"' : '' %>>Home</button>
    <button onclick="location.href='/flights/new'" <%- title === 'Add Flight' ? 'class="active"' : '' %>>Add Flight</button>
    <button onclick="location.href='/flights'" <%- title === 'All Flights' ? 'class="active"' : '' %>>All Flights</button>
  </nav>
  <main>
    <h1><%= title %></h1>


