<%- include('../partials/header') %>

<table>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight Number</th>
    <th>Departs</th>
    <th>Actions</th>
  </tr>
  <% flights.forEach(function(flight) { %>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toLocaleDateString() %></td>
      <td>
        <a href="/flights/<%= flight._id %>">DETAILS</a>
        <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit">DELETE</button>
        </form>
      </td>
    </tr>
    <% flight.destinations.forEach(function(destination) { %>
      <tr>
        <td colspan="5">
          Airport: <%= destination.airport %><br>
          Arrival: <%= destination.arrival.toDateString() %>
        </td>
      </tr>
    <% }); %>
  <% }); %>
</table>

<%- include('../partials/footer') %>
