<%- include('../partials/header') %>

<table>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight Number</th>
    <th>Departs</th>
    <th>Destination Airport</th>
    <th>Arrival</th>
    <th>Actions</th>
  </tr>
  <% flights.forEach(function(flight) { %>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toLocaleString() %></td>
      <% if (flight.destinations.length > 0) { %>
        <td><%= flight.destinations[0].destAirport %></td>
        <td><%= flight.destinations[0].arrival.toLocaleString() %></td>
      <% } else { %>
        <td>N/A</td>
        <td>N/A</td>
      <% } %>
      <td>
        <button class="action-button" onclick="location.href='/flights/<%= flight._id %>'">DETAILS</button>
        <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST" style="display: inline;">
          <button class="action-button" type="submit">DELETE</button>
        </form>
        
        </form>
      </td>
    </tr>
  <% }); %>
</table>

<%- include('../partials/footer') %>




