<%- include('../partials/header') %>

<h1><%= title %></h1>

<table id="flight-details">
  <tr>
    <th>Airline:</th>
    <td><%= flight.airline %></td>
  </tr>
  <tr>
    <th>Airport:</th>
    <td><%= flight.airport %></td>
  </tr>
  <tr>
    <th>Flight No:</th>
    <td><%= flight.flightNo %></td>
  </tr>
  <tr>
    <th>Departs:</th>
    <td><%= flight.departs.toDateString() %></td>
  </tr>
</table>

<%- include('../partials/footer') %>

